<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5.20/phpunit.xsd"
         bootstrap="./tests/autoload.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./</directory>
      <directory suffix=".php">./</directory>
      <exclude>
        <directory>./tests</directory>
        <directory>./vendor</directory>
      </exclude>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="Unit">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
